node_modules

*~
*#
.DS_STORE
Thumbs.db
.netbeans
nbproject
.idea
.node_history

*.seed
*.log
*.out
*.pid
npm-debug.log

package-lock.json

# This is where we will be creating and storing our EOS local keys
keys/
